* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #857d7d;
}

.container{
  align-items: center;
  justify-items: center;
  width: 100%;
}

.container h1{
  margin: 20px;
  text-decoration: underline;
  font-size: 70px;
}

.container #addBook{
  padding: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  background-color: #9b8879;
  border-radius: 5px;
  font-weight: bold;
}


#cards {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr  ;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.card{
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  width: 15em;
  height: 14em;
  background-color: #9b8879;
}

.card h3{
  font-size: 20px;
  margin: 10px;
  
}
.card p{
  font-size: 20px;
  margin: 10px;
  
}

.card button{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  align-items: center;
  justify-items: center;
  background-color: #7a1919;
  color: #fff;
}